# Logs
Logs/
*.log

# Reports
Reports/
TestResults*/
CoverageReport/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# Visual Studio Code
.vscode/

# Others
*.DS_Store
Thumbs.db

# DocFX outputs
_site/
api/*.yml
api/toc.yml
